$background-color: cadetblue;
$background-color-secondary: beige;
$card-color: blanchedalmond;
$card-color-border: $background-color;
$card-color-hover: $card-color;
$card-color-hover-border: mediumslateblue;
$btn-color: burlywood;
$btn-color-hover: chocolate;
