@import "_variables.scss";

.voting-session-container {
  display: flex;

  .voting-container {
    height: 100%;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1vh;

    .vote-object {
      border: solid $card-color-border;
      border-radius: 2vh;
      background: $card-color;
      min-width: 15%;
      height: 20%;
      cursor: pointer;
      display: flex;
      align-items: center;

      &.active {
        border: solid $card-color-hover-border;
      }

      &:hover {
        border: solid $card-color-hover-border;
      }

      span {
        font-size: 4vh;
        width: 100%;
        text-align: center;
      }
    }
  }

  .votes-display-container {
    height: 100%;
    width: 25%;
    margin-left: 1vh;
  }
}

.voting-container, .votes-display-container {
  background: $background-color-secondary;
  border-radius: 2vh;
  border: solid $background-color-secondary;
}
