body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: cadetblue;
}

section {
  width: 75%;
  height: 80vh;
  margin: 10vh auto auto;
}

.main,.voting-container,.votes-display-container {
  background: beige;
  border-radius: 2vh;
  border: solid beige;
}

.voting-container{
  height: 100%;
  width: 75%;
}

.votes-display-container{
  height: 100%;
  width: 25%;
  margin-left: 10vh;
}

.voting-session-container{
  display: flex;
}
input, button {
  border-radius: 1vh;
  padding: 1vh;
  margin: 3% 5%;
  width: 90%;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
